{% extends 'base.html.twig' %}


{% block body %}
<div class="titleAllPages">
<h1>Create a new trick</h1>

</div>
<div class="createFormDiv">

    {{ form_start(formTrick) }}

    {{ form_row(formTrick.title, {
        'attr': {'placeholder' : 'Trick title'}
    }) }}

    {{ form_row(formTrick.content, {
        'attr': {'placeholder' : 'Trick content'}
    }) }}

    {{ form_row(formTrick.type, {
        'attr': {'placeholder' : 'Trick type'}
    }) }}

    {{ form_row(formTrick.photos, {'label' : 'Add some photos',
        'attr': {'placeholder' : 'Upload photos'}
    }) }}

    {{ form_row(formTrick.videos, {'label' : 'Insert youtube video url',
        'attr': {'placeholder' : 'Upload videos'}
    }) }}

        <div class="buttonConfirm">
            <button type="submit" class="btn btn-success">Save Trick</button>
        </div>
    {{ form_end(formTrick) }}


</div>
{% endblock %}
