{% extends 'base.html.twig' %}


{% block body %}
{% if trick.author is same as (username) %}
    <div class="titleAllPages">
        <h1>Edit your trick</h1>    
    </div>
    <div class="divUniqueTrick">
        <div class="titleDivUniqueTrick">
        {% if trick.featuredPhoto is same as (null) %}
            {% if not trick.photos | length is same as (0) %}
                <img src="{{ asset('' ) ~ trick.photos[0].pathUrl }} " class="featuredPhoto">
            {% else %}
                <img src="{{ asset('uploads/homeImage.jpg' ) }} " class="featuredPhoto">
            {% endif %}
        {% else %}
                <img src="{{ asset('' ) ~ trick.featuredPhoto }} " class="featuredPhoto">
        {% endif %}

            <div class="textFeaturedPhoto">
                <h2>{{ trick.title }}</h2>
            </div>
            {% if not trick.featuredPhoto is same as (null) %}
                {% if not trick.featuredPhoto is same as ('uploads/homeImage.jpg') %}
                    <div class="buttonModifyFeaturedPhoto">
                        <form method="post" action="{{ path('blog_edit', {'id' : trick.id }) }}"><button value="{{ trick.featuredPhoto  }}" type="submit" name="editFeatured" class="btn btn-primary"><i class="fas fa-edit"></i></button></form>
                        <form method="post" action="{{ path('blog_edit', {'id' : trick.id }) }}"><button value="{{ trick.featuredPhoto }}" type="submit" name="deleteFeatured" class="btn btn-primary"><i class="fas fa-trash"></i></button></form>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <article class="articleTrick">
            <div class="photoListDiv">
                {% for photo in trick.photos %}
                <div class="divPhotoEdit">
                    <div class="divPhoto">
                        <img src="{{ asset('' ) ~ photo.pathUrl }} " alt="snowboard" class="photoSize"/>
                    </div>
                    <div class="formModifyFile">
                    {% if not trick.featuredPhoto is same as (photo.pathUrl) %}
                            <form method="post" action="{{ path('blog_edit', {'id' : trick.id }) }}"><button value="{{ photo.pathUrl  }}" type="submit" name="editPhoto" class="btn btn-primary"><i class="fas fa-edit"></i></button></form>
                            <form method="post" action="{{ path('blog_edit', {'id' : trick.id }) }}"><button value="{{ photo.pathUrl }}" type="submit" name="deletePhoto" class="btn btn-primary"><i class="fas fa-trash"></i></button></form>
                    {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% for video in trick.videos %}
                 <div class="divPhotoEdit">
                    <div class="divPhoto">
                        <iframe  class="photoSize" src="https://www.youtube.com/embed/{{ video.pathUrl }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="formModifyFile">
                        <form method="post" action="{{ path('blog_edit', {'id' : trick.id }) }}"><button value="{{ video.pathUrl }}" type="submit" name="deleteVideo" class="btn btn-primary"><i class="fas fa-trash"></i></button></form>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div>
                <hr class="separator">
            </div>

            <div>
                {{ form_start(formPhotoEdit) }}
                {{ form_row(formPhotoEdit.photos, {'label' : 'Add some photos',
                'attr': {'placeholder' : 'Upload photos'}
                }) }}
                    <div class="buttonConfirm">
                    <button type="submit" class="btn btn-success">Add Photos</button>
                    </div>
                {{ form_end(formPhotoEdit) }}
            </div>

            <div>
                <hr class="separator">
            </div>

            <div>
                {{ form_start(formVideoEdit) }}
                {{ form_row(formVideoEdit.pathUrl, {'label' : 'Insert youtube video url',
                'attr': {'placeholder' : 'Upload videos'}
                }) }}
                    <div class="buttonConfirm">
                    <button type="submit" class="btn btn-success">Add Youtube Video</button>
                    </div>
                {{ form_end(formPhotoEdit) }}
            </div>

            <div>
                <hr class="separator">
            </div>

            <div class="contentTrick">
                {{ form_start(formEdit) }}
                    {{ form_row(formEdit.content, {
                        'attr': {'placeholder' : 'Trick content'}
                    }) }}

                {{ form_row(formEdit.type, {
                    'attr': {'placeholder' : 'Trick type'}
                }) }}
                    <div class="divButtonEditAndDelete">
                        <div class="buttonConfirm">
                            <button type="submit" class="btn btn-success">Modify Trick</button>
                        </div>
                        {{ form_end(formEdit) }}
                    </div>
                    <div class="divButtonEditAndDelete">
                        <div class="buttonConfirm"> 
                            <a href="{{ path('app_delete', {'id' : trick.id }) }}">
                                <button type="submit" class="btn btn-danger">Delete Trick</button>
                            </a>
                        </div>
                    </div>
            </div>
        </article>
    </div>
{% endif %}

{% endblock %}