{% extends 'base.html.twig' %} 
{% block body %}
<container class="containerHome" id="top">
    <img src="{{ asset('uploads/homeImage.jpg' ) }} " alt="snowboard" class="mainPhoto"/>
    <div class="textPhoto">
        <h1 class="textMainPhotoHome">Welcome to SnowTricks</h1>
    </div>
    <div class="upButton">
        <a href="#down" class="arrowButton"/><i class="fas fa-arrow-down"></i></a>
    </div>
</container>
<div class="articleListDiv" id="down">
        {% for trick in tricks %}
        <div class="articleDiv">   
            <div class="divPhoto">
                {% if trick.featuredPhoto is same as (null) %}
                    {% if not trick.photos | length is same as (0) %}
                        <img src="{{ asset('' ) ~ trick.photos[0].pathUrl }} " class="photoSize">
                    {% else %}
                        <img src="{{ asset('uploads/homeImage.jpg' ) }} " class="photoSize">
                    {% endif %}
                {% else %}
                    <img src="{{ asset('' ) ~ trick.featuredPhoto }} " class="photoSize">
                {% endif %}
            </div>
            <div class="infoTrick">
                <div class="trickTitle">
                    <a href="{{ path('blog_show', {'slug' : trick.slug }) }}"><p>{{ trick.title }}</p></a>
                </div>
                 {% if trick.author is same as (username) %}
                <div class="buttonModifyAndDelete trickListButton">
                    <a href="{{ path('blog_edit', {'id' : trick.id }) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('blog_edit', {'id' : trick.id }) }}" class="btn btn-primary"><i class="fas fa-trash"></i></a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
</div>

<div class="loadMoreButton">
    <form method="post" action="{{ path('home')}}"><input type="hidden" name="limit" value="{{ limit + 5 }}"/><button value="loadMore" type="submit" name="loadMore" class="btn btn-info">Load More Tricks</button></form>
</div>
<div class="upButton">
    {% if tricks | length > 10  %}
    <a href="#top" class="arrowButton"/><i class="fas fa-arrow-up"></i></a>
    {% endif %}
</div>

{% endblock %}