{% extends 'base.html.twig' %}

{% block title %} Hello BlogController ! {% endblock %}

{% block body %}
<div class="titleAllPages">
    <h1>Trick's List</h1>    
</div>
<section>
    <div class="articleListDiv">
        {% for trick in tricks %}
        <div class="articleDiv">   
            <div class="divPhoto">
                {% if trick.featuredPhoto is same as (null) %}
                    {% if not trick.photos | length is same as (0) %}
                        <img src="{{ asset('' ) ~ trick.photos[0].pathUrl }} " class="photoSize">
                    {% else %}
                        <img src="{{ asset('uploads/homeImage.jpg' ) }} " class="photoSize">
                    {% endif %}
                {% else %}
                    <img src="{{ asset('' ) ~ trick.featuredPhoto }} " class="photoSize">
                {% endif %}
            </div>
            <div class="infoTrick">
                <div class="trickTitle">
                    <a href="{{ path('blog_show', {'slug' : trick.slug }) }}"><p>{{ trick.title }}</p></a>
                </div>
                 {% if trick.author is same as (username) %}
                <div class="buttonModifyAndDelete trickListButton">
                    <a href="{{ path('blog_edit', {'id' : trick.id }) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('blog_edit', {'id' : trick.id }) }}" class="btn btn-primary"><i class="fas fa-trash"></i></a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
</div>
</section>

{% endblock %}
