{% extends 'base.html.twig' %}

{% block title %} Hello BlogController ! {% endblock %}

{% block body %}
<div class="titleAllPages">
    <h1>Trick's List</h1>    
</div>
<section>
    <div class="articleListDiv">
        {% for trick in tricks %}
        <div class="articleDiv">   
            <div class="divPhoto">
                <img src="{{ asset('uploads/' ) ~ trick.featuredPhoto }}" class="photoSize">
            </div>
            <div class="infoTrick">
                <div class="trickTitle">
                    <a href="{{ path('blog_show', {'id' : trick.id }) }}"><p>{{ trick.title }}</p></a>
                </div>
                 {% if trick.author is same as (username) %}
                <div class="buttonModifyAndDelete trickListButton">
                    <a href="{{ path('blog_edit', {'id' : trick.id }) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('blog_edit', {'id' : trick.id }) }}" class="btn btn-primary"><i class="fas fa-trash"></i></a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
</div>
</section>

{% endblock %}
