{% extends 'base.html.twig' %}


{% block body %}
<div class="titleAllPages noAdaptedTomobile">
    <h1>Trick Details</h1>    
</div>
    <div class="divUniqueTrick ">
        <div class="titleDivUniqueTrick">
            {% if trick.featuredPhoto is same as (null) %}
                {% if not trick.photos | length is same as (0) %}
                    <img src="{{ asset('' ) ~ trick.photos[0].pathUrl }} " class="featuredPhoto">
                {% else %}
                    <img src="{{ asset('uploads/homeImage.jpg' ) }} " class="featuredPhoto">
                {% endif %}
            {% else %}
                <img src="{{ asset('' ) ~ trick.featuredPhoto }} " class="featuredPhoto">
            {% endif %}

            <div class="textFeaturedPhoto">
                <h2>{{ trick.title }}</h2>
            </div>

            {% if trick.author is same as (username) %}
            <div class="buttonModifyAndDelete">
                <a href="{{ path('blog_edit', {'id' : trick.id }) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                <a href="{{ path('blog_edit', {'id' : trick.id }) }}" class="btn btn-primary"><i class="fas fa-trash"></i></a>
            </div>
            {% endif %}
        </div>
        <article class="articleTrick">
            <div class="photoListDiv">
                {% for photo in trick.photos %}
                <div class="divPhotoEdit">
                    <div class="divPhoto">
                        <img src="{{ asset('' ) ~ photo.pathUrl }} " alt="snowboard" class="photoSize"/>
                    </div>
                </div>
                {% endfor %}
                {% for video in trick.videos %}
                <div class="divPhotoEdit">
                    <div class="divPhoto">
                        <iframe  class="photoSize" src="https://www.youtube.com/embed/{{ video.pathUrl }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="contentTrick">
                {{ trick.content | raw }}
            </div>
            <div class="propertiesTrickPost">
                <div class="detailPost">Posted by {{ trick.author }}</div>
                <div class="metadata detailPost">Created the {{ trick.createdAt | date('d/m/Y')}}</div>
                {% if trick.modifiedAt is same as (null) %}
                    
                {% else %}
                    <div class="metadata detailPost">Modified the {{ trick.modifiedAt | date('d/m/Y')}}</div>
                {% endif %}
                <div> 
                    <div class="metadata detailPost">Trick type : {{ trick.trickType }}</div>
                </div>
            <div>
        </article>

        <div>
            <hr class="separator">
        </div>
        <div class="commentFormDiv">
         {% if app.user %}
             <h2>Comment Form</h2>
            {{ form_start(commentForm) }}
            {{ form_row (commentForm.content, {'label' : 'Leave a comment','attr' : {'label':'Write a comment ','placeholder' : 'Your commentary'}})}}

            <button type="submit" class="btn btn-success">Comment !</button>
            {{ form_end(commentForm) }}

            {% else %}
                <h2>You must be connected to be able to comment !</h2>
                <a href="{{path('app_login')}}" class="btn btn-primary">Connect</a>
                <a href="{{path('app_registration')}}" class="btn btn-primary">Register</a>
            {% endif %}

        </div>
        <div>
            <hr class="separator">
        </div>


        <section id="comments">
            <h2>{{ trick.comments | length }} Comment(s) in total: </h2>
            {% for comment in comments %}
                <div class="commentLoading">
                    <div class="col-3 avatarBubble">
                        {% if comment.avatar is same as (null) %}
                            <img src="{{ asset('uploads/avatar.jpg' ) }} " class="featuredPhoto">
                        {% else %}
                            <img src="{{ asset('' ) ~ comment.avatar }} " alt="snowboard" class="avatarSize"/>
                        {% endif %}
                    </div>
                    <div class="row commentUnique">
                        <div class="col-3">
                            By {{ comment.author }}
                        </div>
                        <div class="col-3">      
                            Posted the : {{ comment.createdAt | date('d/m/Y')}}
                        </div>
                        <div class="col-3"> 
                            {{comment.content | raw}}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <form method="post" action="{{ path('blog_show', {'id' : trick.id }) }}"><input type="hidden" name="limit" value="{{ limit + 5 }}"/><button value="loadMore" type="submit" name="loadMore" class="btn btn-info">Load More Comments</button></form>

        </section>

    </div>

{% endblock %}