{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">

 

    <div class="titleAllPages">
        <h1>Login</h1>    
    </div>

     {% if error %}
        <div class="alert alert-danger errorMessage">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <div class="loginFormDiv">
        <label for="inputUsername">Username</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" value="{{ last_username }}" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >


        <button class="btn btn-lg btn-primary loginButton" type="submit">
            Sign in
        </button>
    </div>
</form>
<div class="loginButton">
    <a href="{{ path('app_forgotten_password') }}"><button class="btn btn-lg btn-info">Forget Password ?</button></a>
</div>
{% endblock %}
