{% extends 'base.html.twig' %}

{% block body %}
    <container class="registrationDiv">
        <div>
            <h1>Registration</h1>
        </div>

        <div>
            {{ form_start(form) }}

            {{ form_row(form.username, { 'attr' : {'placeholder' : 'your mail'}}) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}

            <button type="submit" class="btn btn-success registrationButton">Create an account</button>
            {{ form_end(form) }}
        </div>
    </container>
 {% endblock %}